*~
*.o
.*
*.dSYM
*.dylib
*.parm
*.tlog.raw
*.tlog
log
*.a
*.bin
*.so
*.tbl
*.bin
elf2cfetbl
#Ignore plexil files
cmake-build-debug
*.pyc
logs
terrain
*.log
Modules/Plexil/lib
Modules/Plexil/workshop
Modules/*/build
build
Modules/build
Modules/Plexil/compilers/plexil/classes
Modules/Plexil/compilers/plexil/generated
Modules/Plexil/jars/PlexilCompiler.jar
Modules/lib
exe/cpu1
sim
**/gen
Python/TestRunner/sim_output
