#before_script:
  ##
  ## Install ssh-agent if not already installed, it is required by Docker.
  ## (change apt-get to yum if you use an RPM-based image)
  ##
  ##- 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'

  ##
  ## Run ssh-agent (inside the build environment)
  ##
  ##- eval $(ssh-agent -s)

  ##
  ## Add the SSH key stored in SSH_PRIVATE_KEY variable to the agent store
  ## We're using tr to fix line endings which makes ed25519 keys work
  ## without extra base64 encoding.
  ## https://gitlab.com/gitlab-examples/ssh-private-key/issues/1#note_48526556
  ##
  ##- echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -

  ##
  ## Create the SSH directory and give it the right permissions
  ##
  ##- mkdir -p ~/.ssh
  ##- chmod 700 ~/.ssh


#default:
#  image: ubuntu:18.04

#test:
#  script:
#  - echo "Hello World!"
default:
  image: marcofeliu/icarous-base:latest


before_script:
  - git submodule update --init --recursive
  - make 
  - make install
  
run-test:
  script:
    - cd Python/TestRunner
    - python3 RunScenarios.py scenarios.yaml --test

